name: Backup Repo

on:
  workflow_call:
    secrets:
      API_KEY:
        required: true
      REPO_URL:
        required: true
      BACKUP_LAMBDA_FUNCTION_URL:
        required: true

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
      REPO_URL: ${{ secrets.REPO_URL }}
      BACKUP_LAMBDA_FUNCTION_URL: ${{ secrets.BACKUP_LAMBDA_FUNCTION_URL }}

    steps:

      - uses: actions/checkout@v3

      - name: Backup Repo
        working-directory: ${{ github.workspace }}
        run: |
          response_and_status=$(curl --connect-timeout 60 --max-time 300 \
            -H "Content-Type: application/json" \
            -d '{
              "api_key": "'"$API_KEY"'",
              "repo_url": "'"$REPO_URL"'"
            }' \
            "$BACKUP_LAMBDA_FUNCTION_URL")